* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-area {
  width: 500px;
  height: 300px;
  background-color: beige;
  margin: auto;
  padding: 15px;
}

.table-area table {
  width: 100%;
}

.table-area table td {
  text-align: center;
}
